/*Defino los estilos del html */

html {
    background: #F0F0D8;
    font-family: "Azonix", sans-serif;
}

/*Estilos del menú inicial en una cuádricula con los botones */

#menu_inicial {
    display: grid;
    width: 100%;
    max-width: 500px;
    height: 200px;
    padding: 20px;
    border: 2px solid white;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 auto;
}

/* Estilos de la cuádricula */

.grid-container {
    margin-top: 1000px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    justify-content: center;
    max-width: 300px;
    margin: 0 auto;
    height: 250px;
}

/* Estilos del contenedor principal */

#container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 2fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 1300px;
    height: 400px;
    margin: 0 auto;
}

/* Estilos del historial y las imágenes de los pokémon */

#historial,
#pokemons {
    margin: 0 70px;
    padding: 30px;
    margin-top: 40px;
    border-radius: 10px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.7);
}

img {
    margin-left: 25%;
}

/* Estilos de la respuesta y de los datos de los pokemon */

#respuesta,
#datos-pokemon {
    margin: 0 70px;
    padding: 30px;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.7);
}

/* Estilos del botón junto a su hover */

button {
    font-family: "Azonix", sans-serif;
    background: transparent;
    padding: 15px;
    transition: all .5s ease;
    color: #41403E;
    box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, .2);
    border-radius: 10px;

    &:hover {
        background-color: #c6f09e;
    }
}


/* Estilos del input */

input {
    font-family: "Azonix", sans-serif;
    background: transparent;
    padding: 10px;
    transition: all .5s ease;
    color: #41403E;
    box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, .2);
    border-radius: 10px;
}


/* Estilos para las letras */

.green,
.yellow,
.red {
    font-size: 24px;
    border: 2px solid rgb(0, 0, 0);
    padding: 5px;
    border-radius: 4px;
    margin-right: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.green {
    color: green;
}

.yellow {
    color: orange
}

.red {
    color: red;
}