/*Defino los estilos del html */

html {
    background: #F0F0D8;
    font-family: "Azonix", sans-serif;
}

p{
    font-size: 17px;
}
/*Estilos del menú inicial en una cuádricula con los botones */

#reglas{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 30px;
}

/* Estilos de la cuádricula */

#grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1000px; /* Puedes ajustar el ancho máximo según tus necesidades */
    margin: 0 auto;
  }
  section {
    flex: 0 0 calc(33.333% - 10px); /* Aproximadamente el 33.333% del ancho menos un margen de 10px */
    margin: 5px;
    text-align: center;
  }

/* Estilos del contenedor principal */

#container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 2fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 1300px;
    height: 400px;
    margin: 0 auto;
}

/* Estilos del historial y las imágenes de los pokémon */

#historial,
#pokemons {
    margin: 0 70px;
    padding: 30px;
    margin-top: 40px;
    border-radius: 10px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.7);
}

img {
    margin-left: 25%;
}

/* Estilos de la respuesta y de los datos de los pokemon */

#respuesta,
#datos-pokemon {
    margin: 0 70px;
    padding: 30px;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.7);
}

/* Estilos del botón junto a su hover */

#jugar,
#volver-a-jugar {
    font-family: "Azonix", sans-serif;
    background: transparent;
    padding: 15px;
    transition: all .5s ease;
    color: #41403E;
    box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, .2);
    border-radius: 10px;
    position: relative;

    &:hover {
        background-color: #c6f09e;
    }
}

#boton-menu {
    font-family: "Azonix", sans-serif;
    background: transparent;
    padding: 15px;
    transition: all .5s ease;
    color: #41403E;
    box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, .2);
    border-radius: 10px;
    font-size: 24px;
    box-shadow: 10px 10px 10px #888;

    &:hover {
        background-color: #c6f09e;
    }
}

/* Estilos del input */

input {
    font-family: "Azonix", sans-serif;
    background: transparent;
    padding: 10px;
    transition: all .5s ease;
    color: #41403E;
    box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, .2);
    border-radius: 10px;
}


/* Estilos para las letras */

.green,
.yellow,
.red {
    font-size: 24px;
    border: 2px solid rgb(0, 0, 0);
    padding: 5px;
    border-radius: 4px;
    margin-right: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.green {
    color: green;
}

.yellow {
    color: orange
}

.red {
    color: red;
}