/* mobile.css */

/* Media query para pantallas pequeñas (menos de 768px de ancho) */
@media (max-width: 767px) {

    /* Ajustes específicos para móvil */
    #container {
        grid-template-columns: 1fr;
    }

    p {
        font-size: 11px;
    }

    h1{
        font-size: 20px;
    }
    nav {
        width: 100%;
    }
    #intento, #busqueda {
        font-size: 10px;
    }
}
