#title {
  font-size: 4rem;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  font-weight: bold;
  position: absolute;
  top: 100px;
}



body {
  font-family: 'Arial', sans-serif;
  background: hsla(0, 0%, 0%, .9);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 700px;
}

#container {
  max-width: 400px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin-bottom: -200px;
}

h1 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

input {
  width: 100px;
  padding: 10px;
  font-size: 11px;
  text-transform: uppercase;
  margin-right: 10px;
  border: 2px solid #ccc;
  border-radius: 4px;
  outline: none;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}

button:hover {
  background-color: #0056b3;
}

#result {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  color: #ff6347;
}

/* Estilos para las letras adivinadas */
.green, .yellow, .red {
  font-size: 24px;
  border: 2px solid white;
  padding: 5px;
  border-radius: 4px;
  margin-right: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.green {
  color: green;
}

.yellow {
  color: yellow;
}

.red {
  color: red;
}

#guess-history {  
  font-size: 20px;
  text-align: left;
  position: absolute;
  margin-bottom: 200px;
}

/* Media queries para hacerlo responsive */
@media (max-width: 768px) {
  body {
    height: 200vh; /* Ajusta la altura para pantallas m치s peque침as */
  }

  .green, .yellow, .red {
    font-size: 18px; /* Disminuye el tama침o de fuente en pantallas peque침as */
    margin-top: 10px;
    margin-bottom: 10px;
  }

  #guess-history {
    font-size: 18px;
  }
}
