body {
  font-family: 'Arial', sans-serif;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#container {
  max-width: 400px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

h1 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

input {
  width: 100px;
  padding: 10px;
  font-size: 11px;
  text-transform: uppercase;
  margin-right: 10px;
  border: 2px solid #ccc;
  border-radius: 4px;
  outline: none;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}

button:hover {
  background-color: #0056b3;
}

#result {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  color: #ff6347;
}

.letter {
  font-weight: bold;
}

.green {
  color: green;
}

.yellow {
  color: yellow;
}

.red {
  color: red;
}

